@page "/accordion"

<p>
    <h1>Accordion</h1>
</p>

@* <BfAccordion> *@
@*     <BfAccordionItem> *@
@*         <BfAccordionItemHeading>First Item</BfAccordionItemHeading> *@
@*         <BfAccordionItemContent>First Item Content</BfAccordionItemContent> *@
@*     </BfAccordionItem> *@
@*     <BfAccordionItem> *@
@*         <BfAccordionItemHeading>Second Item</BfAccordionItemHeading> *@
@*         <BfAccordionItemContent>Second Item Content</BfAccordionItemContent> *@
@*     </BfAccordionItem> *@
@*     <BfAccordionItem> *@
@*         <BfAccordionItemHeading>Third Item</BfAccordionItemHeading> *@
@*         <BfAccordionItemContent>Third Item Content</BfAccordionItemContent> *@
@*     </BfAccordionItem> *@
@* </BfAccordion> *@

<fast-accordion>
    <fast-accordion-item expanded>
        <span slot="heading">Panel one</span>
        Panel one content
    </fast-accordion-item>
    <fast-accordion-item>
        <span slot="heading">Panel two</span>
        Panel two content
    </fast-accordion-item>
    <fast-accordion-item expanded>
        <span slot="heading">Panel three</span>
        Panel three content
    </fast-accordion-item>
</fast-accordion>