@page "/tabs"
@using SayusiAndo.Carbon.BlazoredFast.Components.Tab

<p>
    <h1>Tabs</h1>
</p>

<p>
    <BfTabs>
        <BfTab id="first">First</BfTab>
        <BfTab id="second">Second</BfTab>
        <BfTab id="third">Third</BfTab>
        <BfTabPanel id="first">First tab panel</BfTabPanel>
        <BfTabPanel id="second">Second tab panel</BfTabPanel>
        <BfTabPanel id="third">Third tab panel</BfTabPanel>
    </BfTabs>
</p>